{% extends "base.html" %}

{% block title %}Управление сертификатами{% endblock %}

{% block content %}
    <h1>Добавить сертификат</h1>

    <form>
        <input type="hidden" id="mode" value="add">
        <input type="hidden" id="edit_id" value="">

        <input id="name" type="text" placeholder="Название" required>
        <div class="data_input"><input id="date_from" type="date" placeholder="Date From" required></div>
        <div class="data_input"><input id="date_to" type="date" placeholder="Date To" required></div>
        <input id="version" type="text" placeholder="version" required>
        <label id="label_person" style="color: red; display: none" >Не найдено</label>
        <select id="person_id">
          {% for person in persons %}
            <option value="{{ person.person_id }}">{{ person.name }}</option>
          {% endfor %}
        </select>
        <label id="label_org" style="color: red; display: none" >Не найдено</label>
        <select id="org_id">
          {% for org in orgs %}
            <option value="{{ org.org_id }}">{{ org.name }}</option>
          {% endfor %}
        </select>
        <button id="btn_add" onclick="add()">Добавить</button>
        <button style="display: none; background-color: #dc3545" id="btn_clear" onclick="clearing()">Отмена</button>
    </form>

     <form>
        <input id="cert_file" name="cert_file" type="file" accept=".crt,.pem,.cer" multiple>
         <input type="checkbox" id="add_person" name="add_person">
            <label class="data_input">
                Добавить владельца сертификата
            </label><br>
         <input type="checkbox" id="add_org" name="add_org">
            <label class="data_input">
                Добавить провайдера
            </label><br>
        <button type="button" onclick="parse_cert()">Распарсить</button>
     </form>

    <div id="list-cert">
        {% include "list_cert_partical.html" %}
    </div>
    <div style="margin-top: 20px;">
        <button onclick="refreshTable()">Обновить таблицу</button>
    </div>
    <br>

     <script>
         async function parse_cert() {
            const formData = new FormData();
            const fileInput = document.getElementById('cert_file');

            // Проверяем, выбран ли файл
            if (fileInput.files.length === 0) {
                alert('Выберите файл!');
                return;
            }

            formData.append('cert_file', fileInput.files[0]);
            const response = await fetch('/cert/file', {
                method: 'POST',
                body: formData
                });

            if (response.ok) {
                const data = await response.json();
                console.log('Сертификат распарсен:', data);
                const add_pers = document.getElementById('add_person').checked
                const add_org = document.getElementById('add_org').checked


                if (add_pers){
                    const add_person = {
                    name: data.subject,
                    phone: "",
                    email: "",
                    }
                    const response_add_person = await fetch("/add_person", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(add_person)
                        });
                    const dat_pers = await response_add_person.json()
                    console.log(dat_pers.person_id)

                    let opt = document.createElement('option');
                    opt.value = dat_pers.person_id;
                    opt.innerHTML = dat_pers.name;
                    document.getElementById('person_id').insertAdjacentElement('beforeend', opt);
                    document.getElementById('person_id').value = dat_pers.person_id;

                } else if (data.person_id == null){
                    document.getElementById('label_person').style.display = 'inline-block'
                    document.getElementById('person_id').value = -1;
                } else{
                    document.getElementById('person_id').value = data.person_id;
                }

                if (add_org){
                    const add_org = {
                    name: data.issuer,
                    url: "",
                    }
                    const response_add_org = await fetch("/add_org", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(add_org)
                        });
                    const dat_org = await response_add_org.json()
                    console.log(dat_org.org_id)

                    let opt = document.createElement('option');
                    opt.value = dat_org.org_id;
                    opt.innerHTML = dat_org.name;
                    document.getElementById('org_id').insertAdjacentElement('beforeend', opt);
                    document.getElementById('org_id').value = dat_org.org_id;

                } else if (data.org_id == null){
                    document.getElementById('label_org').style.display = 'inline-block'
                    document.getElementById('org_id').value = -1;
                } else{
                    document.getElementById('org_id').value = data.org_id;
                }

                // Заполняем форму данными
                document.getElementById('name').value = data.filename;
                document.getElementById('version').value = data.version;
                document.getElementById('date_from').value = data.date_from;
                document.getElementById('date_to').value = data.date_to;

            } else {
                const error = await response.text();
                console.error('Ошибка:', error);
                alert('Ошибка при парсинге сертификата');
            }

         }

         async function delete_cert(id) {
                const response = await fetch('/delete_cert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `id=${encodeURIComponent(id)}`
                });
                refreshTable()
         }

        async function edit_cert(id){
            const response = await fetch(`/edit_cert/${id}`);
            const data = await response.json();

            document.getElementById('name').value = data.name;
            document.getElementById('version').value = data.version;
            document.getElementById('date_from').value = data.date_from;
            document.getElementById('date_to').value = data.date_to;
            document.getElementById('person_id').value = data.person_id;
            document.getElementById('org_id').value = data.org_id;

            document.getElementById('btn_add').textContent = "Изменить";
            document.getElementById('mode').value = "edit";
            document.getElementById('edit_id').value = id;
            document.getElementById('btn_clear').style.display = 'inline-block';

        }

        async function add() {
            const data = {
                name: document.getElementById('name').value,
                version: document.getElementById('version').value,
                date_from: document.getElementById('date_from').value,
                date_to: document.getElementById('date_to').value,
                person_id: document.getElementById('person_id').value,
                org_id: document.getElementById('org_id').value
            }

            let url, method;
            let mode = document.getElementById('mode').value
            let edit_id = document.getElementById('edit_id').value

            if (mode === "add") {
                url = '/add_cert'
                method = 'POST'
            } else {
                url = `/edit_cert/${edit_id}`
                method = 'PUT'
            }

            // Отправляем POST запрос
            const response = await fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
                });

            refreshTable()

        }

        // Функция обновления таблицы
        async function refreshTable() {
            const response = await fetch('/list_cert_partical');
            const html = await response.text();
            document.getElementById('list-cert').innerHTML = html;
        }
    </script>
{% endblock %}
