{% extends "base.html" %}
{% block content %}

    <h1>Добавить организацию</h1>

    <form>
        <input type="hidden" id="mode" value="add">
        <input type="hidden" id="edit_id" value="">

        <input id="name" type="text" name="name" placeholder="Имя" required><br><br>
        <input id="url" type="text" name="url" placeholder="URL" required><br><br>

        <button id="btn_add" onclick="add()">Добавить</button>
        <button style="display: none; background-color: #dc3545" id="btn_clear" onclick="clearing()">Отмена</button>
    </form>
    <div id="list-org">
        {% include "list_org_partical.html" %}
    </div>
    <div style="margin-top: 20px;">
        <button onclick="refreshTable()">Обновить таблицу</button>
    </div>
    <br>

    <script>
        refreshTable()
         async function delete_org(id) {
                const response = await fetch('/delete_org', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `id=${encodeURIComponent(id)}`
                });
                refreshTable()
         }

         async function edit_org(id){
            const response = await fetch(`/edit_org/${id}`);
            const data = await response.json();

            document.getElementById('name').value = data.name;
            document.getElementById('url').value = data.url;

            document.getElementById('btn_add').textContent = "Изменить";
            document.getElementById('mode').value = "edit";
            document.getElementById('edit_id').value = data.id;
            document.getElementById('btn_clear').style.display = 'inline-block';

        }

        async function add() {
            const data = {
                name: document.getElementById('name').value,
                url: document.getElementById('url').value
            }

            let url, method;
            let mode = document.getElementById('mode').value
            let edit_id = document.getElementById('edit_id').value

           if (mode === "add") {
                url = '/add_org'
                method = 'POST'
            } else {
                url = `/edit_org/${edit_id}`
                method = 'PUT'
            }
            // Отправляем POST запрос
            const response = await fetch(url, {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
                });

        }

        // Функция обновления таблицы
        async function refreshTable() {
            const response = await fetch('/list_org_partical');
            const html = await response.text();
            document.getElementById('list-org').innerHTML = html;
        }
    </script>
{% endblock %}