{% extends "base.html" %}
{% block content %}
    <h1>Добавить пользователя</h1>

    <form>
        <input id="js-name" type="text" name="name" placeholder="Имя" required><br><br>
        <input id="js-phone" type="phone" name="phone" placeholder="Phone" required><br><br>
        <input id="js-email" type="email" name="email" placeholder="Email" required><br><br>
        <button onclick="addWithJS()">Добавить</button>
    </form>
    <div id="list-person">
        {% include "list_person_partical.html" %}
    </div>
    <div style="margin-top: 20px;">
        <button onclick="refreshTable()">Обновить таблицу</button>
    </div>
    <br>

     <script>
         async function delete_person(id) {
                const response = await fetch('/delete_person', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `id=${encodeURIComponent(id)}`
                });
                refreshTable()
         }
        async function addWithJS() {
            const name = document.getElementById('js-name').value;
            const phone = document.getElementById('js-phone').value;
            const email = document.getElementById('js-email').value;


            // Отправляем POST запрос
            const response = await fetch('/add_person', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `name=${encodeURIComponent(name)}&phone=${encodeURIComponent(phone)}&email=${encodeURIComponent(email)}`
                });

            refreshTable()

            // Очищаем поля
            document.getElementById('js-name').value = '';
            document.getElementById('js-phone').value = '';
            document.getElementById('js-email').value = '';
        }

        // Функция обновления таблицы
        async function refreshTable() {
            const response = await fetch('/list_person_partical');
            const html = await response.text();
            document.getElementById('list-person').innerHTML = html;
        }
    </script>
{% endblock %}
