<!DOCTYPE html>
<html>
<head>
    <title>Добавить пользователя</title>
</head>
<body>
    <h1>Добавить пользователя</h1>

    <form method="post" action="/add_person">
        <input type="text" name="name" placeholder="Имя" required><br><br>
        <input type="phone" name="phone" placeholder="Phone" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <button type="submit">Добавить</button>
    </form>

    <br>
    <a href="/">На главную</a>
</body>
</html>