{% extends "base.html" %}
{% block content %}
    <h1>Добавить сертификат</h1>

    <form>
        <input id="name" type="text" placeholder="Название" required><br><br>
        <input id="date_from" type="date" placeholder="Date From" required><br><br>
        <input id="date_to" type="date" placeholder="Date To" required><br><br>
        <input id="version" type="text" placeholder="version" required><br><br>
        <select id="person_id">
          {% for person in persons %}
            <option value="{{ person.person_id }}">{{ person.name }}</option>
          {% endfor %}
        </select>
        <select id="org_id">
          {% for org in orgs %}
            <option value="{{ org.org_id }}">{{ org.name }}</option>
          {% endfor %}
        </select>
        <button onclick="add()">Добавить</button>
    </form>
    <div id="list-cert">
        {% include "list_cert_partical.html" %}
    </div>
    <div style="margin-top: 20px;">
        <button onclick="refreshTable()">Обновить таблицу</button>
    </div>
    <br>
    <a href="/">На главную</a>
     <script>
         async function delete_cert(id) {
                const response = await fetch('/delete_cert', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `id=${encodeURIComponent(id)}`
                });
                refreshTable()
         }

        async function add() {
            const name = document.getElementById('name').value;
            const version = document.getElementById('version').value;
            const date_from = document.getElementById('date_from').value;
            const date_to = document.getElementById('date_to').value;
            const person_id = document.getElementById('person_id').value;
            const org_id = document.getElementById('org_id').value;

            const formData = new FormData();
            formData.append('name', name);
            formData.append('version', version);
            formData.append('date_from', date_from);
            formData.append('date_to', date_to);
            formData.append('person_id', person_id);
            formData.append('org_id', org_id);

            // Отправляем POST запрос
            const response = await fetch('/add_cert', {
                method: 'POST',
                body: formData
                });

            refreshTable()

            // Очищаем поля
            //document.getElementById('name').value = '';
            //document.getElementById('date_from').value = '';
            //document.getElementById('date_to').value = '';
            //document.getElementById('version').value = '';
        }

        // Функция обновления таблицы
        async function refreshTable() {
            const response = await fetch('/list_cert_partical');
            const html = await response.text();
            document.getElementById('list-cert').innerHTML = html;
        }
    </script>
{% endblock %}
