<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Cert Manager</title>
        <link rel="stylesheet" href="/static/style.css">
         <script ></script>
    {% endblock %}
</head>
<body>
    <div id="content" style="position: relative; background_color:gray; ">
        <div id="lk_menu" style="position: absolute; top: 2%; right: 1%">
            <button id="button_lk" onclick="show_lk_menu()" style="position: absolute; top: 2%; right: 1%">ЛК</button>
            <div id="menu" style="display:none; margin-top: 25%;">
                <p>Изменение пароля</p>
                <div class="data_input" style="display:block"><input id="old_password" type="password" placeholder="old" required></div>
                <div class="data_input" style="display:none; color: red;" id="alert_pass"><p>Пароли не совпадают</p></div>
                <div class="data_input" style="display:block"><input id="new_password" type="password" placeholder="new" required></div>
                <div class="data_input" style="display:block"><input id="new_repeat_password" type="password" placeholder="repeat new" required></div>

                <div class="data_input" style="display:block"><button onclick="channge_password()">Изменить</button></div>
                <div class="data_input" style="display:none; color: red;" id="msg"></div>

                <div class="data_input" style="display:block"><button onclick="logout()">Выход</button></div>
            </div>
        </div>
        {% block content %}

        {% endblock %}
        <a href="/"><button>На главную</button></a>
    </div>

</body>
<script>

    async function channge_password(){
        document.getElementById('msg').style.display = "none";
        document.getElementById('alert_pass').style.display = "none";
        if (document.getElementById('new_password').value === document.getElementById('new_repeat_password').value){
            const data  = {
                old_pass: document.getElementById('old_password').value,
                new_pass: document.getElementById('new_password').value
            };
            const response = await fetch("/auth/change_password", {
                    method: "PUT",
                    credentials: 'include',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
            });
            const answer = await response.json();
            console.log(answer);
            document.getElementById('old_password').value = "";
            document.getElementById('new_password').value = "";
            document.getElementById('new_repeat_password').value = "";
            document.getElementById('msg').textContent = answer['message'];
            document.getElementById('msg').style.display = "block";
        } else {
            document.getElementById('old_password').value = "";
            document.getElementById('new_password').value = "";
            document.getElementById('new_repeat_password').value = "";
            document.getElementById('alert_pass').style.display = "block";
        }
    }

    function show_lk_menu(){
        menu = document.getElementById('menu');
        if (menu.style.display === "none"){
            menu.style.display = "block";
        }else{
            menu.style.display = "none";
        }
    }

    async function logout(){
        await fetch("/auth/logout", {
            method: "POST",
            credentials: 'include',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: ''  // Пустое тело запроса
        });
        location.reload();
    }


</script>

</html>