<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - Cert Manager</title>
        <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
</head>
<body>

    <div id="content">
        {% block content %}{% endblock %}
        <a href="/"><button>На главную</button></a>
    </div>

</body>
<footer id="footer">

</footer>
</html>