<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<body>
    <h1>Учет ПК, пользователей и сертификатов</h1>

    <h2>Добавить:</h2>
    <ul>
        <li><a href="/add_person">Добавить сотрудника</a></li>
        <li><a href="/add_cert">Добавить сертификат</a></li>
        <li><a href="/add_org">Добавить организацию</a></li>
        <li><a href="/add_pc">Добавить ПК</a></li>
        <li><a href="/add_service">Добавить сервис</a></li>
    </ul>

    <h2>Просмотреть:</h2>
    <ul>
        <li><a href="/pcs">Все ПК</a></li>
        <li><a href="/certs">Все сертификаты</a></li>
        <li><a href="/person">Все владельцы сертификатов</a></li>
    </ul>
</body>
</html>