<table border="1">
        <tr>
            <th>ID</th>
            <th>domain_name</th>
            <th>aud</th>
            <th>name</th>
            <th>phone\email</th>
            <th>certs</th>
            <th>services</th>
        </tr>
        {% for pc in pcs %}
        <tr>
            <td>{{ pc.pc_id }}</td>
            <td>{{ pc.domain_name }}</td>
            <td>{{ pc.aud }}</td>
            <td>{{ pc.name }}</td>
            <td>{{ pc.phone}}\{{pc.email }}</td>
            <td>{{pc.cert.name}}\{{pc.cert.person}}</td>
            <td>{{pc.service.name}}\{{pc.service.url}}</td>
            <td><button onclick='delete_pc({{pc.pc_id}})'>Удалить</button></td>
        </tr>
        {% endfor %}
</table>