<table border="1">
        <tr>
            <th>ID</th>
            <th>domain_name</th>
            <th>aud</th>
            <th>name</th>
            <th>phone\email</th>
            <th>certs</th>
            <th>services</th>
        </tr>
        {% for pc in pcs %}
        <tr>
            <td>{{ pc.pc_id }}</td>
            <td>{{ pc.domain_name }}</td>
            <td>{{ pc.aud }}</td>
            <td>{{ pc.name }}</td>
            <td>{{ pc.phone}}\{{pc.email}}</td>
            <td>
                {% for cer in pc.cert %}
                    {{cer.name}}\{{cer.person.name}}<br>
                {% endfor %}
            </td>
            <td>
                {% for ser in pc.service %}
                    {{ser.name}}\<a href="{{ser.url}}">{{ser.url}}</a><br>
                {% endfor %}
            </td>
            <td><button style="background-color: #28a745" onclick='edit_pc({{pc.pc_id}})'>Редактировать</button></td>
            <td><button onclick='delete_pc({{pc.pc_id}})'>Удалить</button></td>
        </tr>
        {% endfor %}
</table>