<table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.person_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td><button style="background-color: #28a745" onclick='edit_pc({{user.person_id}})'>Редактировать</button></td>
            <td><button onclick='delete_person({{user.person_id}})'>Удалить</button></td>
        </tr>
        {% endfor %}
</table>