<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
</head>
<body>
    <h1>Список пользователей</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.person_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">На главную</a>
</body>
</html>